# Defaults
CTX_MAX="16384"
VERBOSE="true"
MAX_TASKS_DEFAULT="6"
RECURSION_DEPTH_DEFAULT="3"
DISTANCE_CUTOFF_DEFAULT="0.12"
EXPANDED_CONTEXT_DEFAULT="False"

# Tool variables
SEARX_HOST = "https://searxng.nicfab.eu/"
TOP_K_WIKI = "5"
WOLFRAM_APP_ID = ""

###########################################################
####################### Prompting #########################
###########################################################

HUMAN_PREFIX="### Human:"
ASSISTANT_PREFIX="### Assistant:"

# PRIMARY_DIRECTIVE

PRIMARY_DIRECTIVE="You are an AI assistant. Your main objective is to follow all instructions and complete all tasks written in the 'Instructions:' section, then respond with the output format specified in the 'Format:' section.
You are completely on your own, and cannot ask for more information or clarification.
By default, you have no abilities or resources unless they are explicitly listed."
# GENERATE THOUGHTS DIRECTIVE
# Variables: _TASK_ - current objective
# Desired Output: Resources and abilities for completing _TASK_ - used for the agent's context

GENERATE_THOUGHTS_DIRECTIVE="Write down some observations on what one would require to complete _TASK_. In particular, you should respond with 2 items:
- Resources one would need to complete _TASK_; and
- Abilities one would need to complete _TASK_.
Your observations should consist of one or two sentences per category.

Format:
Respond with your observations in the following format:
Resources: (one or two sentences about the resources required to complete _TASK_)
Abilities: (one or two sentences about the abilities required to complete _TASK_)
Do not respond with anything but these observations."

# ASSESS ABILITY DIRECTIVE
# Variables: _TASK_ - current objective
# Desired Output: 'yes' if model can complete _TASK_, 'no' otherwise

ASSESS_ABILITY_DIRECTIVE="Answer the following question:
Can you complete _TASK_ entirely right now?
When answering the question, consider the abilities and resources needed for completing _TASK_. Compare these to the abilities and resources you have available.
If completing _TASK_ requires resources or abilities that you don't have access to, your answer to the question should be 'No'.

Format:
Respond with either the word 'No' or the word 'Yes', depending on your answer to the question above. Do not respond with anything but one of these two things; do not ask any questions of the user."

# DO OBJECTIVE DIRECTIVE
# Variables: _TASK_ - current objective
# Desired Output: the output from completing _TASK_

DO_OBJECTIVE_DIRECTIVE="Complete _TASK_ right now and respond with the output that _TASK_ requires.
If you need additional resources, or if you cannot fully complete _TASK_, respond with the phrase 'I cannot' and nothing else.

Format:
Respond with the result of completing _TASK_, or the phrase 'I cannot', depending on the criteria above. Do not respond with anything else; do not ask any questions of the user."

# SPLIT OBJECTIVE DIRECTIVE
# Additional context: processed tasks in current objective
# Variables: _TASK_ - current objective, _MAX_TASKS_ - maximum number of tasks in a list
# Desired Output: Numbered list of subobjectives for _TASK_

SPLIT_OBJECTIVE_DIRECTIVE="Develop a plan to complete _TASK_ entirely. The plan should come as a list of tasks, each a step in the process of completing _TASK_.
The list should be written in the order that the tasks must be completed.
Do not include prerequisites to _TASK_, nor tasks that might come after completing _TASK_. Only include those tasks that are necessary and relevant for the completion of _TASK_.
The number of tasks in the list should be between 1 and _MAX_TASKS_.
The descriptions of the tasks in the list should be short but descriptive enough to complete the task; each task should be one or two sentences.

Format:
Respond with the numbered list in the following format:
1. (first task to be completed)
2. (second task to be completed)
etc.
Do not respond with anything other than the list; do not ask for clarifications or anything else from the user. Each item on the list should be one or two sentences."

# ASSESS TOOL DIRECTIVE
# Variables: _TASK_ - current objective, _TOOL_NAME_ - tool name (described in context)
# Desired Output: 'yes' if _TOOL_ can complete _TASK_, 'no' otherwise

ASSESS_TOOL_DIRECTIVE="Answer the following question:
Could you use the _TOOL_NAME_ tool in your resources to complete _TASK_ entirely right now?
When answering the question, consider the resources and abilities needed for completing _TASK_. Compare them to the resources and abilities the tool provides.
If there are resources or abilities that are required for completing _TASK_ that are not available to you through the tool, you cannot complete _TASK_ with the tool, and you should respond with the word 'No'.

Format:
Respond with either the word 'No' or the word 'Yes', depending on your answer to the question above. Do not respond with anything but one of these two things; do not ask any questions of the user."
# USE TOOL DIRECTIVE
# Variables: _TASK_ - current objective, _TOOL_NAME_ - tool name (described in context)
# Desired output: input for the tool that would achieve _TASK_, or 'I cannot' if not possible

USE_TOOL_DIRECTIVE="Create an input for the _TOOL_NAME_ tool that will complete _TASK_. Respond with the created input and nothing else.
To be more specific, when one passes the desired input to the tool, the tool will complete _TASK_ and output the result.
If you need more information to create the input, respond with the phrase 'I cannot' and nothing else.
If you are certain that no such input exists, respond with the phrase 'I cannot' and nothing else.

Format:
Respond with the created input for the tool or the phrase 'I cannot' and nothing else. Do not ask for clarification."