# Defaults
CTX_MAX="16384"
VERBOSE="true"
MAX_TASKS_DEFAULT="6"
RECURSION_DEPTH_DEFAULT="3"
DISTANCE_CUTOFF_DEFAULT="0.12"
EXPANDED_CONTEXT_DEFAULT="False"

# Tool variables
SEARX_HOST = "https://searxng.nicfab.eu/"
TOP_K_WIKI = "5"
WOLFRAM_APP_ID = ""

###########################################################
####################### Prompting #########################
###########################################################

HUMAN_PREFIX="### Human:"
ASSISTANT_PREFIX="### Assistant:"

# PRIMARY_DIRECTIVE

PRIMARY_DIRECTIVE="You are an AI assistant. Your main objective is to follow all instructions and complete all tasks written in the 'Instructions:' section, then respond with the output format specified in the 'Format:' section. You are completely on your own, and cannot ask for more information or clarification.
Your abilities are:
- Following Instructions: You follow instructions exceptionally well and pay close attention to them.
- Generating Text: You are an AI and can generate text. You can use this ability for tasks such as writing, summarizing, brainstorming, making decisions, answering questions, and developing plans.
- Using Tools: If a tool is presented to you, you can analyze it and use it if it is applicable.
Assume that if an ability is not on this list, you do not have that ability. For example you cannot complete any physical objectives such as changing the world in any way, going anywhere, talking to anyone, or accessing the internet."

# GENERATE THOUGHTS DIRECTIVE
# Variables: _TASK_ - current objective
# Desired Output: General guidance on how to complete _TASK_ - used for the agent's context

GENERATE_THOUGHTS_DIRECTIVE="Write down your observations on what one would require to complete _TASK_. These observations should include:
- Resourcses one would need to complete _TASK_;
- Abilities one would need to complete _TASK_; and
- Information one would need to complete _TASK_.
Include only the 3 most relevant of your observations.

Format:
Respond with an unordered, unformatted list of the 3 most relevant of your observations. Each observation should be a single sentence. Each observation should be on its own line. Do not respond with anything but your observations."

# ASSESS ABILITY DIRECTIVE
# Variables: _TASK_ - current objective
# Desired Output: 'yes' if model can complete _TASK_, 'no' otherwise

ASSESS_ABILITY_DIRECTIVE="Answer the following question:
Could you complete _TASK_ with no more information and no access to the outside world?

Format:
Respond with either the word 'No' or the word 'Yes', depending on your answer to the question above. Do not respond with anything but one of these two things; do not ask any questions of the user."

# DO OBJECTIVE DIRECTIVE
# Variables: _TASK_ - current objective
# Desired Output: the output from completing _TASK_

DO_OBJECTIVE_DIRECTIVE="Complete _TASK_.
Try as best you can. If you need more information, or if you cannot, respond with the phrase 'I cannot' and nothing else.

Format:
Respond with the result of completing _TASK_, or the phrase 'I cannot', depending on the criteria above. Do not respond with anything else; do not ask any questions of the user."

# SPLIT OBJECTIVE DIRECTIVE
# Additional context: processed tasks in current objective
# Variables: _TASK_ - current objective, _MAX_TASKS_ - maximum number of tasks in a list
# Desired Output: Numbered list of subobjectives for _TASK_

SPLIT_OBJECTIVE_DIRECTIVE="Develop a plan to complete _TASK_ entirely. The plan should come as a list of tasks, each a step in the process of completing _TASK_.
The list should be written in the order that the tasks must be completed.
Do not include prerequisites to _TASK_, nor tasks that might come after completing _TASK_. Only include those tasks that are necessary and relevant for the completion of _TASK_.
The number of tasks in the list should be between 1 and _MAX_TASKS_.
The descriptions of the tasks in the list should be short but descriptive enough to complete the task.

Format:
Respond with the numbered list in the following format:
1. (first task to be completed)
2. (second task to be completed)
etc.
Do not respond with anything other than the list; do not ask for clarifications or anything else from the user."

# ASSESS TOOL DIRECTIVE
# Variables: _TASK_ - current objective, _TOOL_ - tool name and description
# Desired Output: 'yes' if _TOOL_ can complete _TASK_, 'no' otherwise

ASSESS_TOOL_DIRECTIVE="Answer the following question:
Could you use the following tool to complete _TASK_?
_TOOL_
If you cannot use the tool to complete _TASK_, respond with the word 'No'.
If you need clarification or are unsure, respond with the word 'No'.
If the tool would help you with the completion of _TASK_ but you would not be able to complete _TASK_ entirely, respond with the word 'No'.
Otherwise, if none of the previous criteria apply, and it is possible for you to complete _TASK_ by using the tool, respond with the word 'Yes'.

Format:
Respond with just the word 'Yes' or just the word 'No' and nothing else based on the criteria above. Do not ask any questions."

# USE TOOL DIRECTIVE
# Variables: _TASK_ - current objective, _TOOL_ - tool name and description
# Desired output: input for the tool that would achieve _TASK_, or 'I cannot' if not possible

USE_TOOL_DIRECTIVE="Use the following tool to complete _TASK_ by creating an input for the tool that will help you complete _TASK_.
_TOOL_
If no such input is possible, respond with the phrase 'I cannot'.
If you are unsure or need clarification or more information, respond with the phrase 'I cannot'.

Format:
Respond with the created input for the tool or the phrase 'I cannot' depending on the criteria above and nothing else. Do not ask for clarification."
