# Defaults
CTX_MAX="16384"
VERBOSE="true"
MAX_TASKS_DEFAULT="6"
RECURSION_DEPTH_DEFAULT="3"
DISTANCE_CUTOFF_DEFAULT="0.12"
EXPANDED_CONTEXT_DEFAULT="False"

# Tool variables
SEARX_HOST = "https://searxng.nicfab.eu/"
TOP_K_WIKI = "5"
WOLFRAM_APP_ID = ""

###########################################################
####################### Prompting #########################
###########################################################

HUMAN_PREFIX="### Human: You are an AI agent. Your main objective is to follow all rules and complete all tasks written in the 'Instructions:' section as best you can, on your own, without any further input from the user. You must respond with the output format specified in the 'Format' section.\n"
ASSISTANT_PREFIX="### Assistant:"

# ASSESS ABILITY DIRECTIVE
# Variables: _TASK_ - current objective
# Desired Output: 'yes' if model can complete _TASK_, 'no' otherwise

ASSESS_ABILITY_DIRECTIVE="Answer the following question:
Can you complete _TASK_ just by generating text, with no other information?
Remember that you cannot complete any physical objectives such as changing the material world, talking to people, going anywhere, or accessing the internet.

Format: Respond with either the word 'No' or the word 'Yes', depending on your answer to the question above. Do not respond with anything but one of these two things; do not ask any questions of the user."

# DO OBJECTIVE DIRECTIVE
# Variables: _TASK_ - current objective
# Desired Output: the output from completing _TASK_

DO_OBJECTIVE_DIRECTIVE="Complete _TASK_.
Try as best you can. If you need more information, make the information up.

Format: Respond with what _TASK_ asks for. Do not respond with anything else; do not ask any questions of the user."

# SPLIT OBJECTIVE DIRECTIVE
# Additional context: processed tasks in current objective
# Variables: _TASK_ - current objective, _MAX_TASKS_ - maximum number of tasks in a list
# Desired Output: Numbered list of subobjectives for _TASK_

SPLIT_OBJECTIVE_DIRECTIVE="Develop a plan to complete _TASK_ entirely. The plan should come as a list of tasks, each a step in the process of completing _TASK_.
The list should be written in the order that the tasks must be completed.
Do not include prerequisites to _TASK_, nor tasks that might come after completing _TASK_. Only include those tasks that are necessary and relevant for the completion of _TASK_.
The number of tasks in the list should be between 1 and _MAX_TASKS_.
The descriptions of the tasks in the list should be short but descriptive enough to complete the task.

Format: Respond with the numbered list in the following format:
1. (first task to be completed)
2. (second task to be completed)
3. (third task to be completed)
etc.
Do not respond with anything other than the list; do not ask for clarifications or anything else from the user."

# ASSESS TOOL DIRECTIVE
# Variables: _TASK_ - current objective, _TOOL_ - tool name and description
# Desired Output: 'yes' if _TOOL_ can complete _TASK_, 'no' otherwise

ASSESS_TOOL_DIRECTIVE="Assess whether you could use the following tool to complete _TASK_ entirely with a single input.
_TOOL_
If you cannot use the tool to complete _TASK_ on your own, respond with the word 'No'.
If you are unsure, respond with the word 'No'.
If you need clarification, respond with the word 'No'.
If the tool would help with the completion of _TASK_ but would not complete _TASK_ entirely, respond with the word 'No'.
Otherwise, if none of the previous criteria apply, and it is possible for you to complete _TASK_ by using the tool, respond with the word 'Yes'.

Format: Respond with just the word 'Yes' or just the word 'No' and nothing else based on the criteria above. Do not ask any questions."

# USE TOOL DIRECTIVE
# Variables: _TASK_ - current objective, _TOOL_ - tool name and description
# Desired output: input for the tool that would achieve _TASK_, or 'I cannot' if not possible

USE_TOOL_DIRECTIVE="You have access to the following tool:
_TOOL_
Use the tool to achieve _TASK_ by creating an input for the tool that will help you achieve _TASK_.
If no such input is possible, respond with the phrase 'I cannot'.
If you are unsure or need clarification or more information, respond with the phrase 'I cannot'.

Format: Respond with the created input for the tool or the phrase 'I cannot' depending on the criteria above and nothing else. Do not ask for clarification."
